In [134]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
from imblearn.over_sampling import SMOTE

In [135]:
df = pd.read_csv("TESTROOT.csv")

In [136]:
df.dropna(inplace=True)

In [137]:
df =df[(df['interface']=='s1-eth1') | (df['interface']=='s2-eth1')]

In [138]:
df.shape[0]

96

In [139]:
#df.to_csv('LR.csv')

In [140]:
df['target'].value_counts()

1.0    48
0.0    48
Name: target, dtype: int64

In [141]:
df.columns

Index(['exp', 'user_no', 'algo', 'interface', 'rtt_qos', 'tp_qos', 'p_qos',
       '10P_RTT', '20P_RTT', '30P_RTT', '40P_RTT', '50P_RTT', '60P_RTT',
       '70P_RTT', '80P_RTT', '90P_RTT', '10P_TP', '20P_TP', '30P_TP', '40P_TP',
       '50P_TP', '60P_TP', '70P_TP', '80P_TP', '90P_TP', '10P_PK', '20P_PK',
       '30P_PK', '40P_PK', '50P_PK', '60P_PK', '70P_PK', '80P_PK', '90P_PK',
       'stall', 'P1203', 'target', 'total_hosts'],
      dtype='object')

In [142]:
X= df.iloc[:, 4:34]

In [143]:
X

,rtt_qos,tp_qos,p_qos,10P_RTT,20P_RTT,30P_RTT,40P_RTT,50P_RTT,60P_RTT,70P_RTT,...,90P_TP,10P_PK,20P_PK,30P_PK,40P_PK,50P_PK,60P_PK,70P_PK,80P_PK,90P_PK
96,72.9915,423258.19810,24.0,21.7295,32.752,38.9385,42.1720,53.686,68.5410,92.8345,...,265550.5591,16.5,11.0,119.5,25.0,28.5,33.5,40.5,43.0,49.5
97,94.4464,69734.41816,28.2,21.7295,32.752,38.9385,42.1720,53.686,68.5410,92.8345,...,265550.5591,16.5,11.0,119.5,25.0,28.5,33.5,40.5,43.0,49.5
98,101.7731,68586.85469,41.2,21.7295,32.752,38.9385,42.1720,53.686,68.5410,92.8345,...,265550.5591,16.5,11.0,119.5,25.0,28.5,33.5,40.5,43.0,49.5
99,62.1120,123558.09530,25.0,21.7295,32.752,38.9385,42.1720,53.686,68.5410,92.8345,...,265550.5591,16.5,11.0,119.5,25.0,28.5,33.5,40.5,43.0,49.5
100,37.8406,191114.04430,49.1,21.7295,32.752,38.9385,42.1720,53.686,68.5410,92.8345,...,265550.5591,16.5,11.0,119.5,25.0,28.5,33.5,40.5,43.0,49.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,31.9908,237278.08810,91.5,7.0645,13.926,18.4940,22.9775,26.311,29.5305,32.0250,...,871519.5136,116.5,133.5,150.0,99.5,241.0,209.5,58.0,65.0,80.5
236,26.4737,411042.73130,182.6,7.0645,13.926,18.4940,22.9775,26.311,29.5305,32.0250,...,871519.5136,116.5,133.5,150.0,99.5,241.0,209.5,58.0,65.0,80.5
237,20.6846,438100.09440,113.6,7.0645,13.926,18.4940,22.9775,26.311,29.5305,32.0250,...,871519.5136,116.5,133.5,150.0,99.5,241.0,209.5,58.0,65.0,80.5
238,26.1659,346450.90730,115.5,7.0645,13.926,18.4940,22.9775,26.311,29.5305,32.0250,...,871519.5136,116.5,133.5,150.0,99.5,241.0,209.5,58.0,65.0,80.5
239,32.2754,351947.02990,193.7,7.0645,13.926,18.4940,22.9775,26.311,29.5305,32.0250,...,871519.5136,116.5,133.5,150.0,99.5,241.0,209.5,58.0,65.0,80.5

In [144]:
y = df.iloc[:, 36]

In [145]:
y

96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
      ...
235    1.0
236    1.0
237    1.0
238    1.0
239    1.0
Name: target, Length: 96, dtype: float64

In [146]:
sm = SMOTE()
X, y = sm.fit_sample(X, y)

In [147]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [148]:
X_train.shape

(76, 30)

data_final_vars=df.columns.values.tolist()
y=['y']
X=[i for i in data_final_vars if i not in y]
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
rfe = RFE(logreg, 20)
rfe = rfe.fit(X_train, y_train.values.ravel())
print(rfe.support_)
print(rfe.ranking_)

In [149]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)
logreg = LogisticRegression(max_iter=4000)
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=4000)

In [150]:
logreg

LogisticRegression(max_iter=4000)

In [151]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 1.00

In [152]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[16  0]
 [ 0 23]]

In [153]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        16
         1.0       1.00      1.00      1.00        23

    accuracy                           1.00        39
   macro avg       1.00      1.00      1.00        39
weighted avg       1.00      1.00      1.00        39